@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary: #FF0000;
  --color-surface: #18181B;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

/* Custom Utilities */
.bg-grid-pattern {
  background-image: linear-gradient(to right, #202020 1px, transparent 1px), linear-gradient(to bottom, #202020 1px, transparent 1px);
}

.bg-tech-mesh {
  background-color: #000000;
  background-image:
    radial-gradient(circle at 50% 50%, rgba(255, 0, 0, 0.08) 0%, transparent 50%),
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 100% 100%, 40px 40px, 40px 40px;
  background-position: center center, 0 0, 0 0;
}

/* Global Styles */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}